/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
    display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
    display: none
}

/* set icon padding and size */
.rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
    margin: 0;
}

/* set default star color */
.rating__icon--star {
    color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
}

.disable {
    display: none;
}

.rating-container-1 {
    width: 30%;
    height: fit-content;
    display: grid;
    background-color: #fff;
    margin: 20px 7px;
    border-radius: 5px;
    padding: 20px;
}

.rating-action {
    display: grid;
    margin: 0 0 0 auto;
}

.save-rating {
    background-color: #5cb85c;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    display: flex;
}

.rating-action p {
    margin: 0;
}

.rating-action button {
    margin-bottom: 5px;
}

.cancel-rating {
    background-color: #6c757d;
    color: #fff;
    padding: 6px 12px;
    display: flex;
}

.cancel-rating-icon {
    font-size: 18px;
    margin-left: 5px;
}

.save-rating-icon {
    font-size: 18px;
    margin-left: 5px;
}

.rating-div {
    display: flex;
}