.white {
    color: white;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
}

.btn {
    padding: 0.85em 2em;
    border-radius: 5px;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    cursor: pointer;
}

#home {
    min-height:100vh;
    background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
    url("./background2.jpg");
    background-position: center;
    background-size: cover;
}

#nav {
    display: flex;
    flex-direction: column;
}
#nav ul {
    text-align: center;
    margin: 0 15px;
    display: none;
}

#nav ul li {
    background: white;
    padding: 15px;
}

#nav ul li:nth-of-type(1) a {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#nav ul li a {
    color: black;
    padding: 11em 0;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#nav ul li + li a:hover {
    box-shadow: 1px 14px 0 -1px rgba(0, 0, 0, 0),
    -1px 19px 0 -9px rgba(255, 255, 255, 1);

    transition: 0.1s;
}

.nav-heading > span {
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-heading > span:hover {
    color: #f85a40;
}

.logo:hover {
    color: #f85a40;
}

.content {
    padding-left: 5%;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    padding: 11rem 0;
}
.text-content > h1 {
    width: 440px;
    font-size: 38px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    line-height: 55px;
}

.text-content > h4 {
    font-size: 1.15rem;
    letter-spacing: 0.35px;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    margin-bottom: 55px;
}
.two-button {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.w-btn {
    color: black;
    border: 0.55px solid white;
}
.w-btn:hover {
    background: transparent;
    color: white;
    transition: 0.55s;
}
.t-btn {
    background: transparent;
    border: 0.55px solid white;
    color: white;
}
.t-btn:hover {
    color: black;
    background: white;
    transition: 0.55s;
}

.hamburger {
    display: flex;
    color: white;
    gap: 20px;
    align-items: center;
    margin-right: 10px;
}

.hamburger .fa-bars {
    padding: 0.5em;
    background: grey;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
}

@media screen and (min-width: 995px) {
    #nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #nav ul {
        display: flex !important;
    }
    #nav ul li {
        background: none;
    }
    #nav ul li a {
        padding: 0 10px;
        color: #fff;
        font-size: medium;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
    }

    #nav ul li:first-child a {
        color: #fff;
    }

    .nav-links {
        align-items: center;
    }
    .content {
        padding-left: 10%;
    }

    .text-content > h1 {
        width: 540px;
        font-size: 50px;
        font-weight: 300;
        font-family: "Raleway", sans-serif;
        margin-bottom: 20px;
        line-height: 55px;
    }

    .hamburger {
        display: none;
    }
}

.nav-links li a:hover {
    text-decoration: none;
}